.copy-button-norm {
    background: #eef9fe;
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #555;
    padding: 2px 8px;
    margin-left: 6px;
    margin-right: -4px;
}

.copy-button-copied {
    background: #d2ffbc;
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #555;
    padding: 2px 8px;
    margin-left: 6px;
    margin-right: -4px;
}